@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
  font-family: 'Lato', sans-serif;
}

.page-header {
  border-bottom: none;
}

.page-header h1 {
  font-size: 60px;
  font-weight: bold;
}

.page-header h2 {
  font-size: 36px;
}

.trello-login-btn {
  font-size: 20px;
}
