// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new_list_modal_messages {
  padding: 5px;
  margin-bottom: 15px;
}

.board-link {
  color: #FFF;

  &:hover {
    color: #DDD;
  }
}

.board-view p {
  background-color: #00F;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
