// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit-card-link {
  margin-right: 20px;
}

.update-card-status-link {
  color: #F60;
  margin-right: 20px;
}

.delete-card-link {
  color: #F00;
}
