body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 36px;
}

.page-header {
  border-bottom: none;
}

.trello-login-btn {
  font-size: 20px;

  img {
    margin-top: -3px;
  }
}

.flash-messages p {
  padding: 10px;
  font-size: 18px;
}

.navbar-brand {
  margin-bottom: 10px;
}

.navbar .navbar-nav li a {
  line-height: 32px;
}

.buffer-top {
  margin-top: 25px;
}

.buffer-bottom {
  margin-bottom: 25px;
}
